<button class="option-pill-access blue-button-access return" routerLink="/autogestion">< Volver a Autogestión</button>

<div class="login-page">
    <div class="flex-column">
        <h1>Cambiar Contraseña</h1>
        <span class="subtext">Primero debe verificar que es usted reintroduciendo su contraseña.</span>
    </div>
    <form action="#" class="form" [formGroup]="datos" (ngSubmit)="resetPassword()">
       <div>
            <label for="current-pass">Reintroduzca su contraseña actual</label>
            <input formControlName="password1" [type]="passwd ? 'text' : 'password'" name="current-pass" id="current-pass"  required>            
        </div>
        <div>
             <label for="new-pass">Introduzca una nueva contraseña</label>
             <input formControlName="passw1" [type]="passwd ? 'text' : 'password'" name="new-pass" id="new-pass"  required>            
         </div>
         <div>
              <label for="validate-pass">Repita la nueva contraseña</label>
              <input formControlName="passw2" [type]="passwd ? 'text' : 'password'" name="validate-pass" id="validate-pass"  required>            
          </div>
          <div class="errors">
            <div class="error-text" *ngIf="passwordMismatch && datos.get('passw2')?.touched">
                Las contraseñas no coinciden.
            </div>
            </div>
        <div class="flex-row">
            <button type="button" class="option-pill-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: passwd}">Mostrar Contraseña</button>
            <button type="button" class="option-pill-access gray-button-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: !passwd}">Ocultar Contraseña</button>
        </div>
        <div class="flex-row">
            <button class="option-pill-access blue-button-access">Solicitar Cambio</button>
        </div>
    </form>
</div>