<button class="option-pill-access red-button-access return" routerLink="">< Volver al inicio</button>

<div class="login-page">
    <div class="flex-column">
        <h1>Cambiar Contraseña</h1>
        <span class="subtext">Primero debe verificar que es usted reintroduciendo su contraseña.</span>
    </div>
    <form action="#" class="form">
       <div>
            <label for="user-pass">Reintroduzca su contraseña actual</label>
            <input [type]="passwd ? 'text' : 'password'" name="user-pass" id="user-pass" formControlName="passw" required>            
        </div>
        <div class="flex-row">
            <button type="button" class="option-pill-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: passwd}">Mostrar Contraseña</button>
            <button type="button" class="option-pill-access gray-button-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: !passwd}">Ocultar Contraseña</button>
        </div>
        <div class="flex-row">
            <button class="option-pill-access blue-button-access">Solicitar Cambio</button>
        </div>
    </form>
</div>