h1{
    padding: 2rem;
    color: #fff;

    font-size: 3.2rem;
    font-weight: 800;
    text-align: center;
}

.title{    
    background: linear-gradient(90deg, #066c8b, #04597b);
}

h2{
    padding: 3rem;
    font-size: 2.8rem;
    text-align: center;
}

.options{

    margin-bottom: 2rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    
    width: 100%;
}

@media(min-width: 768px) {
    .options{
        padding:2rem 4rem;
    }
}

@media(min-width: 1280px) {
    h1{
        padding: 8rem 0;
        font-size: 74px;
    }

    .options{
        padding: 3rem 8rem;
        flex-direction: row;
        gap: 5rem;
    }
}