h1{
    max-width: 60%;
    color: #fff;

    font-size: 36px;
    font-weight: 800;
    text-align: center;
    
    z-index: 998;

    position:absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    padding: 3rem;
    font-size: 2.8rem;
    text-align: center;
}

h3{
    padding: 1rem;

    font-size: 2rem;
    text-align: center;
}

.separator{
    margin: 0 auto 1.5rem;
    width: 10%;
    
    border: none;
    border-bottom: solid 8px var(--celeste);
    border-radius: 10px;
}

.title{    
    position: relative;
    background: linear-gradient(90deg, #066c8b, #04597b);
}

.info-desktop{
    display: none;
}

.parrafo-imagen{
    width: 100%;
    max-height: 160px;

    object-fit: cover;
}

.parrafo-info{
    padding: 0 1rem 1rem;
    font-size: 18px;
}

.section{
    margin: 0 0 4rem;
    padding: 2rem ;
    gap: 2rem;
}

@media(min-width: 768px) {
    h1{
        max-width: 60%;
        font-size: 50px;
    }

    .info-container{
        padding: 0 3rem;
    }

    .parrafo-imagen{
        border-radius: 10px;
        box-shadow: 0 0 10px 5px #0023;
    }
}

@media(min-width: 1280px) {
    h1{
        top: 45%;
        max-width: 70%;
        font-size: 70px;
    }

    h2{
        padding:5rem;

        font-size: 72px;
        color: var(--azul);
    }

    h3{
        font-size: 3rem;
    }

    .title{        
        padding-top: 1.5rem;
    }

    .section{
        padding: 3rem;
        *{
            margin: auto;
        }
    }

    .separator{
        margin: 0 auto 2rem;
    }

    .parrafo-info{
        padding-top: 1.5rem;
        font-size: 20px;
    }

    .info-mobile{
        display: none;
    }

    .info-desktop{
        display: block;
        padding: 0 2%;
    }

    .parrafo-imagen{
        max-width: 520px;
        max-height: 500px;
    
        object-fit: cover;
    }
}

@media(min-width: 1600px){
    h1{
        top: 47%;
        max-width: 60%;
        font-size: 80px;
    }

    .parrafo-imagen{
        max-width: 800px;
        max-height: 400px;
    }

    .info-desktop{
        padding: 0 6%;
    }
}