<app-nav></app-nav>
<div id="main-page">
    <div class="title">
        <h1>Bienvenidos al Hospital Distrital Las Heras</h1>
    </div>

    <h2>Autogestión</h2>
    <div class="options">
        <app-option-card
            accion="especialidades"
            titulo="Sacar Turno"
            descripcion="Haga clic aquí para sacar un turno con un médico especializado y bla bla bla. Asegúrese de Iniciar Sesión primero (igual si no lo hace saldrá el dialog para iniciar sesión automáticamente por lo que no sirve esta advertencia jajsj )"
            color="var(--cian)"
        ></app-option-card>
        <app-option-card
            titulo="Mis Turnos Pendientes"
            descripcion="Haga clic aquí para gestionar los turnos que tiene pendiente con sus médicos. Desde acá puede revisarlos y cancelarlos en caso de que no pueda asistir."
            color="#82f8b5"
        ></app-option-card>
    </div>
</div>