footer{
    width: 100%;
    padding: 2rem 0;

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    
    background-color: var(--azul);
    
    text-align: center;
}

footer *{
    color: var(--celeste);
    padding: .5rem;
}



@media(min-width: 1280px) {
    footer{
        padding: 2rem;
        
        flex-direction: row;
        justify-content: space-center;
        gap: 0;
    }
}