<footer *ngIf="_loginService.rolLogged() !== 'terminal'">
    <div class="flex-column">
        <img src="logos/ministerio-lg-transp.png" alt="Logo del Ministerio de Salud y Ambiente del Gobierno de Santa Cruz" class="logo">
    </div>
    <div class="flex-column">
        <h2>CONTACTO</h2>
        <span>0297 497-4666</span>
        <a href="mailto:hdlhsalud@hotmail.com">hdlhsalud&#64;hotmail.com</a>
        <div>
            <ul>
                <li>FB</li>
                <li>IG</li>
            </ul>
        </div>
    </div>
    <div class="flex-column">
        <span>28 de Noviembre, Juan Jose Paso &, Las Heras, Santa Cruz</span>
        <span>Los horarios van acá</span>
    </div>
</footer>