<app-admin-nav/>
<div class="admin-page">

    <div class="title-container">
        <h2 class="menu-title-qr" *ngIf="loading">Cargando el código QR, por favor espere...</h2>
        <img src="rings.svg" *ngIf="loading" alt="Cargando..." class="loading-icon" style="width: 300px; height: auto;"/>
    
        <h2 class="menu-title-qr" *ngIf="!loading && qrCodeUrl">Por favor escanee el código QR desde su WhatsApp</h2>
        <img *ngIf="!loading && qrCodeUrl" [src]="qrCodeUrl" alt="QR Code" style="width: 500px; height: auto;"/>
    </div>
    

    <div class="title-container">
        <h1>Administración</h1>
        <span>Se recomienda el uso de una <b>computadora</b>.</span>            
    </div>

    <div class="flex-row menus">
        <div class="menu-box">
            <h2 class="menu-title">Médicos</h2>
            <div class="buttons-container flex-column">
                <button class="option-pill" routerLink="/admin/medico-list">
                    <span><b>Gestión de Médicos</b></span>
                </button>
                <button class="option-pill" routerLink="/admin/medico-form">
                    <span><b>Dar de alta un Nuevo Médico</b></span>
                </button>
            </div>
        </div>        
        <div class="menu-box">
            <h2 class="menu-title">Usuarios</h2>
            <div class="buttons-container flex-column">
                <button class="option-pill" routerLink="/usuario-list">
                    <span><b>Gestión de Usuarios</b></span>
                </button>
                <button class="option-pill" routerLink="/registro">
                    <span><b>Dar de alta un Nuevo Usuario</b></span>
                </button>
            </div>
        </div>
    </div>
</div>