<app-admin-nav/>
<div class="admin-page">

    <div class="title-container">
        <h1>Administración</h1>
        <span>Se recomienda el uso de una Computadora</span>            
    </div>

    <div class="flex-row menus">
        <div class="menu-box">
            <h2 class="menu-title">Médicos</h2>
            <div class="buttons-container flex-column">
                <button class="option-pill">
                    <span>Gestionar Médicos</span>
                </button>
                <button class="option-pill">
                    <span>Dar de alta un Nuevo Médico</span>
                </button>
            </div>
        </div>        
        <div class="menu-box">
            <h2 class="menu-title">Usuarios</h2>
            <div class="buttons-container flex-column">
                <button class="option-pill">
                    <span>Gestionar Usuarios</span>
                </button>
                <button class="option-pill">
                    <span>Desbloquear Usuario</span>
                </button>
            </div>
        </div>
    </div>
</div>