<app-admin-nav/>
<div class="admin-page">

    <div class="title-container">
        <h1>Administración</h1>
        <span>Se recomienda el uso de una <b>computadora</b>.</span>            
    </div>

    <div class="flex-row menus">
        <div class="menu-box">
            <h2 class="menu-title">Médicos</h2>
            <div class="buttons-container flex-column">
                <button class="option-pill" routerLink="/medico-list">
                    <span><b>Gestión de Médicos</b></span>
                </button>
                <button class="option-pill" routerLink="/medico-form">
                    <span><b>Dar de alta un Nuevo Médico</b></span>
                </button>
            </div>
        </div>        
        <div class="menu-box">
            <h2 class="menu-title">Usuarios</h2>
            <div class="buttons-container flex-column">
                <button class="option-pill" routerLink="/usuario-list">
                    <span><b>Gestión de Usuarios</b></span>
                </button>
            </div>
        </div>
    </div>
</div>