@import "../login/login.component.css";

h2{
    margin: 0 0 1rem;
    color: #aaaab9;
}

hr{
    height: 1px;
    margin: 0 0 2rem;
    border: none;
    
    background-color: var(--gris);
}

.input-pill{
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cod-area-input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.errors{
    margin-bottom: 2rem;
}

.error-text{
    color: var(--rojo);
    margin-bottom: 0.7rem;
}