<button class="option-pill-access red-button-access return" [routerLink]="_loginService.rolLogged()==='admin'? '/admin':'/'">
    < Volver al inicio</button>

        <div class="login-page">
            <div class="flex-column">
                <h1>Crear Cuenta</h1>
                <span class="subtext">Si ya posee una cuenta, <a href="/login">inicie sesión aquí.</a></span>
            </div>
            <form action="#" class="form" [formGroup]="pacienteForm" (ngSubmit)="accion === 'agregar' ? agregarPaciente() : editarUsuario()">
                <h2>Datos Personales</h2>
                <label for="user-dni">DNI</label>
                <input type="text" formControlName="dni" name="user-dni" id="user-dni" required>
                <div class="errors" *ngIf="pacienteForm.get('dni')?.invalid && pacienteForm.get('dni')?.touched">
                    <div class="error-text" *ngIf="pacienteForm.get('dni')?.errors?.['required']">El DNI es requerido.</div>
                    <div class="error-text" *ngIf="pacienteForm.get('dni')?.errors?.['maxlength']">El DNI no puede tener más de 8 números.</div>
                    <div class="error-text" *ngIf="pacienteForm.get('dni')?.errors?.['pattern']">El DNI solo puede contener números.</div>
                </div>
                <label for="user-nombre">Nombre</label>
                <input type="text" formControlName="nombre" name="user-nombre" id="user-nombre" required>
                <div class="errors" *ngIf="pacienteForm.get('nombre')?.invalid && pacienteForm.get('nombre')?.touched">
                    <div  class="error-text">El nombre es requerido.</div>
                </div>
                
                <!-- Agregarlo al formGroup -->
                <label for="user-email">Correo Electrónico</label>
                <input type="email" name="user-email" id="user-email" require>

                <hr>
                <h2>Datos de Contacto</h2>
                <label for="telefono">Número de Teléfono <br><small
                        style="color: var(--celeste); font-size: 14px; font-weight: 400;">(Los turnos se notificarán a
                        este número)</small></label>

                <div class="flex-row" style="gap: 1rem; margin-top: 1rem;">
                    <div style="width: 35%;">             
                        <small>Código de Área</small>           
                        <div class="flex-row">
                            <button type="button" class="input-pill" style="margin-bottom: 2rem; cursor: default;">
                                <span class="material-symbols-rounded">add</span>
                            </button>
                            <input class="cod-area-input" type="text" formControlName="" name="" id=""required>
                        </div>
                    </div>

                    <div>
                        <small>Número de Teléfono</small>
                        <input type="text" formControlName="telefono" name="telefono" id="telefono" required>
                    </div>
                </div>

                <div class="errors" *ngIf="pacienteForm.get('telefono')?.invalid && pacienteForm.get('telefono')?.touched">
                    <div class="error-text">
                        El teléfono es requerido.
                    </div>
                </div>
                <hr>
                <h2>Datos de Usuario</h2>
                <label for="user-pass1">Contraseña</label>
                <input [type]="passwd ? 'text' : 'password'" formControlName="passw1" name="user-pass" id="user-pass1" required>

                <label for="user-pass2">Repita la contraseña</label>
                <input [type]="passwd ? 'text' : 'password'" formControlName="passw2" name="user-pass" id="user-pass2" required>
                <div class="errors" *ngIf="passwordMismatch && pacienteForm.get('passw2')?.touched">
                    <div class="error-text">
                        Las contraseñas no coinciden.
                    </div>
                </div>
                <div *ngIf="_loginService.rolLogged()=='admin'">
                    <label for="rol">Rol</label>
                    <select name="rol" id="rol"  formControlName="rol">
                        <option value="admin" > Administrador </option>
                        
                        <option value="secretaria" > Secretaria </option>
                        <option value="terminal" >Terminal </option>
                    </select>
                </div>
                <div class="flex-row">
                    <button type="button" class="option-pill-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: passwd}">
                        <span class="material-symbols-rounded">visibility</span>
                        Mostrar Contraseñas
                    </button>
                    <button type="button" class="option-pill-access gray-button-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: !passwd}">
                        <span class="material-symbols-rounded" style="color: #fff;">visibility_off</span>
                        Ocultar Contraseñas
                    </button>
                </div>
                <div class="flex-row">
                    <button *ngIf="accion=='agregar'" type="submit" class="option-pill-access green-button-access">
                        Crear Cuenta
                    </button>
                    <button *ngIf="accion=='editar'"  class="option-pill-access yellow-button-access">
                        Modificar
                    </button>
                </div>
              
            </form>
        </div>