<app-admin-nav />
<div class="admin-page">
    <div class="flex-row">
        <h1>Lista de Usuarios</h1>
        <button class="option-pill small-button"
            [routerLink]="_loginService.rolLogged()=='admin' ? '/admin' : '/secretaria'">Volver al Inicio</button>
    </div>
    <div class="element-list">
        <div *ngIf="_loginService.rolLogged()=='admin' ">
            <button class="option-pill small-button" (click)="getPacientes()">Traer todos </button>
            <button class="option-pill small-button" (click)="getUsuarios()">Traer solo usuarios</button>
            <button class="option-pill small-button" (click)="getSoloPacientes()">Traer solo pacientes</button>
        </div>
        <div>
            <button class="option-pill small-button" (click)="getBloqueados()">Traer bloqueados</button>

        </div>
    
    <form class="search-bar flex-row" [formGroup]='busquedaForm' (ngSubmit)="busqueda()" action="#" method="get">
        <input formControlName="busqueda" type="text" name="usuario-query" id="usuario-query" placeholder="Buscar...">
        <!-- <button type="submit">🔍︎</button> -->

    </form>

    <div class="scroll-table">
        <table>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Dni</th>
                <th>Strikes</th>
                <th *ngIf="_loginService.rolLogged()=='admin'">Rol</th>
                <th>Acciones</th>

            </tr>
            <tr *ngFor="let paciente of _pacienteService.pacientes">
                <td>{{ paciente.nombre }}</td>
                <td>{{ paciente.telefono }}</td>
                <td>{{ paciente.dni }}</td>
                <td>{{ paciente.strikes }}</td>
                <td *ngIf="_loginService.rolLogged()=='admin'">{{ paciente.rol }}</td>
                <td class="actions-cell">
                    <div class="flex-row buttons-container">
                        <button *ngIf="paciente.rol=='paciente' && paciente.strikes>=3" class="option-pill blue-button"
                            (click)="desbloquearPaciente(paciente._id)">Desbloquear</button>
                        <button *ngIf="paciente.rol=='admin' || paciente.rol=='secretaria'"
                            class="option-pill blue-button" (click)="desbloquearPaciente(paciente._id)">Editar</button>

                        <button class="option-pill red-button"
                            (click)="confirmarEliminarPaciente(paciente._id)">Borrar</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

</div>