<app-admin-nav/>
<div class="admin-page">
    <div class="flex-row">
        <h1 *ngIf="accion=='agregar'">Creando un Nuevo Turno</h1>
        <h1 *ngIf="accion=='editar'">Modificar Turno</h1>
        <button class="option-pill small-button" routerLink="/secretaria">Volver al Inicio</button>
    </div>
    <form action="#" method="post" class="form"  [formGroup]="turnoForm" (ngSubmit)="accion === 'agregar' ? agregarTurno() : editarTurno()">
        <label for="especialidad">Especialidad</label>
        <select name="especialidad" id="especialidad" formControlName="especialidad" (change)="cargarMedicos($event)">
            <option value="{{especialidad._id}}" *ngFor="let especialidad of _especialidadService.especialidades" > {{especialidad.nombreEsp}} </option>
        </select>
        <label for="medico">Médico</label>
        <select name="medico" formControlName="medico" id="medico">
            <option value="{{medico._id}}" *ngFor="let medico of _medicoService.medicos" >{{medico.nombre}}</option>
        </select>
        <label for="fecha">Fecha y hora del Turno<small style="color: var(--celeste);"> (Clic en el ícono para abrir el calendario)</small></label>
        <input type="datetime-local" [attr.min]="fechaMin" name="fecha" id="fecha" formControlName="fecha">
        <label for="duracion">Duración<small style="color: var(--celeste);"> En minutos</small></label>
        <input type="number" formControlName="duracion" name="duracion" id="duracion">
        <label for="consultorio">Lugar</label>
        <input type="text" formControlName="consultorio" name="consultorio" id="consultorio">
        <select *ngIf="accion=='editar'" name="estado" id="estado" formControlName="estado" >
            <option value="Disponible" >Disponible</option>
            <option value="Cancelado" >Cancelado</option>
            <option value="Ocupado" >Ocupado</option>
            <option value="Finalizado" >Finalizado</option>
        </select>
        <div *ngIf="accion=='editar'" class="flex-row">
            <button type="sumbit" class="option-pill blue-button" >
                Modificar Turno
            </button>
        </div>
        <div *ngIf="accion=='agregar'" class="flex-row">
            <button type="sumbit" class="option-pill blue-button" >
                + Crear Turno
            </button>
        </div>
    </form>
</div>