.carrusel {
    max-width: 1100px;
    height: auto;
    margin: auto;
}

.navegacion{
    position: absolute;
    transform: translate(0, -50%);
    top: 40%;
    
    width: 100%;
    z-index: 999;

    *{
        cursor: pointer;
        width: auto;

        font-size: 80px;
        color: #fff;
    }
}

.slide{    
    height: 320px;
    object-fit: cover;
}

.slider-button{
    background-color: #0000;
    color: #fff;
}

.paginas{
    padding: 1.3rem 0;
    gap: 5px;
    justify-content: center;
}

.pagina{
    width: auto;
    cursor: pointer;
    span{
        color: #fff;
    }
}

@media (min-width: 768px){
    .slide{    
        height: 600px;
    }
}

@media(min-width: 1280px) {
    .navegacion{        
        top: 42%;
        width: 100%;
        max-width: 1090px;
    }

    .slide {
        height: 720px;
        border-radius: 20px;
    }

    .paginas{
        padding: 1.5rem 0;
        gap: 7px;
    }

    .pagina{
        span{
            font-size: 18px;
        }
    }
}

@media(min-width: 1600px) {
    .navegacion{  
        top: 45%;      
        max-width: 1390px;
    }

    .carrusel {
        max-width: 1400px;
    }

    .paginas{
        padding: 2rem 0;
        gap: 9px;
    }
}