<div class="carrusel">
    <div class="navegacion flex-row">
        <button class="material-symbols-rounded slider-button" (click)="restarIndice()">
            chevron_left
        </button>
        <button class="material-symbols-rounded slider-button" (click)="sumarIndice()">
            chevron_right
        </button>
    </div>

    <img class="slide" [src]="fotos[indice].img">

    <div class="paginas flex-row">
        <div class="pagina" (click)="irAIndice(indiceFoto)" *ngFor="let foto of fotos, let indiceFoto = index">
            <button class="material-symbols-rounded slider-button" *ngIf="indiceFoto === indice">
                radio_button_unchecked
            </button>
            <button class="material-symbols-rounded slider-button" *ngIf="indiceFoto !== indice">
                radio_button_checked
            </button>
        </div>
    </div>
</div>