h1{
    padding: 2rem;

    font-size: 3.2rem;
    text-align: center;
    color: var(--azul);
}

h2{
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

span{
    padding: 0 1rem;

    font-size: 18px;
    text-align:center;
}

.autogestion{
    padding: 0 0 2rem;
    
    background-image: url("/26807.jpg");
    background-position: center;
    background-size: cover;
}

.autogestion-options{
    margin: auto;
    padding: 2rem 0;    
    max-width: 1200px;

    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px 5px #0462;
}

.title{
    width: 100%;
    margin: 0.8rem 0;
    padding: 0 1rem;
    gap: 1rem;
}

.options{
    padding: 1rem 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;

}

@media(min-width: 768px) {
    h1{
        padding: 3rem 1rem;
    }   

    .options{
        padding:2rem 8rem;
    }
}

@media(min-width: 1280px) {
    h1{
        padding: 5rem 2rem;
        font-size: 54px;
    }

    app-option-card{
        max-width: 400px;
    }

    .options{
        padding: 2rem 3rem;
        flex-direction: row;
        justify-content: space-around;
        gap: 2rem;
    }
}

@media(min-width: 1600px){
    .autogestion-options{
        max-width: 1520px;
    }

    app-option-card{
        max-width: 100%;
    }

    .options{
        padding: 3rem 6rem;
        flex-wrap: nowrap;
        gap: 4rem;
    }
}

@media(min-width: 1800px){
    app-option-card{
        max-width: 100%;
    }

    .options{
        padding: 3rem 8rem;
        flex-wrap: nowrap;
        gap: 4rem;
    }
}