<button class="option-pill-access red-button-access return" routerLink="">< Volver al inicio</button>

<div class="login-page">
    <div class="flex-column">
        <h1>Cambiar Contraseña</h1>
        <!-- <span class="subtext">Primero debe verificar que es usted reintroduciendo su contraseña.</span> -->
    </div>
    <form action="#" class="form" [formGroup]="datos" (ngSubmit)="onResetPassword()">
        <div>
             <label for="new-pass">Introduzca una nueva contraseña</label>
             <input [type]="passwd ? 'text' : 'password'" name="new-pass" id="new-pass" formControlName="password" required>            
         </div>
         <div>
              <label for="validate-pass">Repita la nueva contraseña</label>
              <input [type]="passwd ? 'text' : 'password'" name="validate-pass" id="validate-pass" formControlName="repeatPassword" required>            
          </div>
          <div class="errors">
            <div class="error-text" *ngIf="passwordMismatch && datos.get('repeatPassword')?.touched">
                Las contraseñas no coinciden.
            </div>
            </div>
        <div class="flex-row">
            <button type="button" class="option-pill-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: passwd}">Mostrar Contraseña</button>
            <button type="button" class="option-pill-access gray-button-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: !passwd}">Ocultar Contraseña</button>
        </div>
        <div class="flex-row">
            <button class="option-pill-access blue-button-access">Guardar nueva contraseña</button>
        </div>
    </form>
</div>