<app-nav></app-nav>
<div id="ban-page" style="padding: 2rem;">
    <div class="ban-alert">
        <i class="big-ban lni lni-ban"></i>
        <h1>Su cuenta está suspendida.</h1>
        <div class="ban-info">
            <p>Hemos suspendido su cuenta debido a numerosas inasistencias a sus turnos médicos solicitados</p>
            <p>Por este motivo, <b>hemos inhabilitado su capacidad de solicitar nuevos turnos médicos.</b></p>
            <p>Para arreglar su situación, comuníquese con Secretaría de forma presencial.</p>
        </div>
        <div class="flex-row">
            <button class="option-pill-access red-button-access" routerLink="/">Volver a la página principal</button>
        </div>
    </div>
</div>