<app-admin-nav/>

<div class="admin-page">
    <div class="flex-row">
        <button class="option-pill small-button" (click)="diaAnterior()">&#x25C0;  Día Anterior</button>
        <h1 style="text-align: center;">Turnos del {{fecha|date:"dd"}} de {{fecha|date:"MMMM"}} </h1>
        <button class="option-pill small-button"(click)="diaSiguiente()">Día Siguiente  &#x25B6;</button>
    </div>
    <div class="flex-row date-actions">
        <form action="#" [formGroup]="turnoForm"  class="flex-column date-form">
            <input formControlName="fecha" type="date" name="turnos-datepicker" id="turnos-datepicker" class="top-element">
            <button (click)="buscarFecha()" type="submit" class="option-pill goto-fecha-button bottom-element">Ir a fecha</button>
        </form>
        <form action="">
            <button routerLink="/usuario-list" class="option-pill goto-fecha-button bottom-element">Gestionar pacientes</button>
       
        </form>
        <form action="#" [formGroup]="turnoForm"  class="flex-column date-form">
            <label for="turnos-filtro">Filtrar por</label>
            <select formControlName="tipo" name="turnos-filtro" id="turnos-filtro">
                <option value="medico">Médico</option>
                <option value="paciente">Paciente</option>
            </select>
            <input formControlName="busqueda"  type="text" name="usuario-query" id="usuario-query" placeholder="Buscar...">
                <button (click)="busqueda()" type="submit" class="option-pill goto-fecha-button bottom-element">Buscar</button> 
            
        </form>
        <div class="flex-column">        
            <button (click)="getTurnos()" class="option-pill blue-button top-element">Ver turnos de Hoy</button>
            <button class="option-pill green-button bottom-element" routerLink="/secretaria/nuevo-turno">+ Crear nuevo turno</button>
        </div>
    </div>
    <div class="element-list">
        <div class="scroll-table">
            <table>
                <tr>
                    <th>Horario</th>
                    <th>Paciente</th>
                    <th>Motivo</th>
                    <th>Doctor</th>
                    <th>Consultorio</th>
                    <th>Estado</th>
                    <th>¿Asistió?</th>
                    <th>Acciones</th>
                </tr>
                <tr *ngFor="let turno of _turnoService.turnos">
                    <td>{{turno.fecha | date: 'shortTime'}}</td>
                    <td>{{turno.paciente_id?.nombre}}{{turno.paciente?.nombre}}</td>
                    <td>{{turno.especialidad_id.nombreEsp}}{{turno.especialidad?.nombreEsp}}</td>
                    <td>{{turno.medico_id.nombre}}{{turno.medico?.nombre}}</td>
                    <td>{{turno.consultorio}}</td>
                    <td>{{turno.estado}}</td>
                    <td>
                        <div *ngIf="turno.paciente_id" class="flex-row buttons-container">
                            <button class="option-pill green-button">&#x2714;</button>
                            <button (click)="darStrike(turno.paciente_id._id)" class="option-pill red-button">&#x2716;	</button>
                        </div>
                    </td>
                    <td class="actions-cell">
                        <div class="flex-row buttons-container">
                            <button class="option-pill blue-button">Reprogramar</button>
                            <button class="option-pill red-button">Cancelar</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>