<app-admin-nav/>

<div class="admin-page">
    <div class="flex-row">
        <button class="option-pill small-button">Día Anterior</button>
        <h1 style="text-align: center;">Turnos del DD de MMMM (HOY)</h1>
        <button class="option-pill small-button">Día Siguiente</button>
    </div>
    <div class="flex-row date-actions">
        <form action="POST" class="flex-column date-form">
            <input type="date" name="turnos-datepicker" id="turnos-datepicker">
            <button type="submit" class="option-pill goto-fecha-button">Ir a fecha</button>
        </form>
        <button class="option-pill blue-button">Ver turnos de Hoy</button>
        <button class="option-pill green-button" routerLink="/secretaria/nuevo-turno">+ Crear nuevo turno</button>
    </div>
    <div class="element-list">
        <div class="scroll-table">
            <table>
                <tr>
                    <th>Horario</th>
                    <th>Paciente</th>
                    <th>Motivo</th>
                    <th>Doctor</th>
                    <th>Consultorio</th>
                    <th>Acciones</th>
                </tr>
                <tr *ngFor="let turno of _turnoService.turnos">
                    <td>{{turno.fecha | date: 'shortTime'}}</td>
                    <td>{{turno.paciente_id?.nombre}}</td>
                    <td>{{turno.especialidad_id.nombreEsp}}</td>
                    <td>{{turno.medico_id.nombre}}</td>
                    <td>{{turno.consultorio}}</td>
                    <td class="actions-cell">
                        <div class="flex-row buttons-container">
                            <button class="option-pill blue-button">Reprogramar</button>
                            <button class="option-pill red-button">Cancelar</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>