h1{
    font-size: 36px;
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 800;
}

th{
    font-weight: 800;
    font-size: 20px;
}

th, td{
    padding: 10px 5px;
    width: auto;

    text-align: center;
}

td{
    border-radius: 10px;

    background-color: #f9f9f9;
    outline: solid 5px #fff;
    outline-offset: -5px;
}

tr:hover td{
    background-color: #efeff3;
}

.small-button{
    margin:1rem 1rem 1rem;
    margin-left: auto;
    width: 200px;
}

.actions-cell{
    background-color: #fafafa;
    width: 30%;
}

.buttons-container{
    padding:1rem 1rem 0;
    gap:1rem;
    margin: auto 0;
}

.date-actions{
    padding: 1rem 0;
    justify-content: center;
    gap: 15%;
}

.date-actions *{
    width: 100%;
    margin-bottom: 0;
}

.admin-page{    
    width: 80%;
}
.date-form{
    gap:2px;
}

.top-element, .bottom-element{    
    margin: 0;
    padding: 10px;
}

.top-element{    
    border-radius: 10px 10px 0 0;
}

.bottom-element{
    border-radius: 0 0 10px 10px;
}

label{
    font-weight: 600;
    text-align: center;
}

input[type="date"], input[type="select"] {
    width: 100%;
    padding: 5px;
    border:solid 1px var(--gris);
    
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
  }

@media (max-width:1360px){
    .admin-page{
        width: 90%;
    }
}