<app-admin-nav />

<div class="admin-page">

	<div class="flex-row turnos-page">

		<!--Zona de acciones-->
		<div class="flex-column date-actions">
			 <form action="#" [formGroup]="turnoForm" class="flex-column date-form section" style="align-self: center;">
				  <label for="turnos-datepicker" style="margin-bottom: 5px;" class="section-title">Cambiar de Fecha</label>
				  <input formControlName="fecha" type="date" name="turnos-datepicker" id="turnos-datepicker"
						class="top-element">
				  <button (click)="buscarFecha()" type="submit" class="option-pill goto-fecha-button action-element">Ir a
						fecha</button>
			 </form>
			 <form action="#" [formGroup]="turnoForm" class="flex-column date-form section">
				  <label for="turnos-filtro" class="section-title">Filtrar por</label>
				  <select formControlName="tipo" name="turnos-filtro" id="turnos-filtro">
						<option value="medico">Médico</option>
						<option value="paciente">Paciente</option>
				  </select>
				  <input formControlName="busqueda" type="text" name="usuario-query" id="usuario-query"
						placeholder="Buscar...">
				  <button (click)="busqueda()" type="submit"
						class="option-pill goto-fecha-button action-element">Buscar</button>
			 </form>
			 <div class="flex-column section">
				  <span class="section-title">Otras Acciones</span>
				  <button (click)="getTurnos()" class="option-pill blue-button action-element">Ver turnos de Hoy</button>
				  <button class="option-pill green-button action-element" routerLink="/secretaria/nuevo-turno">+ Crear nuevo
						turno</button>
				  <button routerLink="/usuario-list" class="option-pill yellow-button action-element">Gestionar
						pacientes</button>
			 </div>
		</div>

		<!--Botones de cambio de fecha e indicador de fecha (Título)-->
		<div class="flex-column turnos">
			<div class="flex-row">
				<button class="option-pill small-button" (click)="diaAnterior()">&#x25C0;</button>
				<h1 style="text-align: center;">Turnos del {{fecha|date:"dd"}} de {{fecha|date:"MMMM"}} </h1>
				<button class="option-pill small-button" (click)="diaSiguiente()">&#x25B6;</button>
			</div>

			<!--Listado con los turnos-->
			<div class="element-list">
				<div class="scroll-table">
					<table>
						<tr>
							<th>Horario</th>
							<th>Paciente</th>
							<th>Motivo</th>
							<th>Doctor</th>
							<th>Consultorio</th>
							<th>Estado</th>
							<th>¿Asistió?</th>
							<th>Acciones</th>
						</tr>
						<tr *ngFor="let turno of _turnoService.turnos">
							<td>{{turno.fecha | date: 'shortTime'}}</td>
							<td>{{turno.paciente_id?.nombre}}{{turno.paciente?.nombre}}</td>
							<td>{{turno.especialidad_id.nombreEsp}}{{turno.especialidad?.nombreEsp}}</td>
							<td>{{turno.medico_id.nombre}}{{turno.medico?.nombre}}</td>
							<td>{{turno.consultorio}}</td>
							<td>{{turno.estado}}</td>
							<td>
								<div *ngIf="turno.paciente_id" class="flex-row buttons-container">
									<button class="option-pill green-button">&#x2714;</button>
									<button (click)="darStrike(turno.paciente_id._id)" class="option-pill red-button">&#x2716;
									</button>
								</div>
							</td>
							<td class="actions-cell">
								<div class="flex-column buttons-container">
									<button class="option-pill blue-button action-element">Reprogramar</button>
									<button class="option-pill red-button action-element">Cancelar</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


</div>