button{
    margin: 0 auto;
    width: 200px;
}

h1{
    font-size: 48px;
    margin-top: 2rem;
    padding: 1rem;
    font-weight: 800;
    text-align: center;
}

input, label{
    font-size: 22px;
    font-weight: 600;
}

input{    
    outline: solid 1px #cccccc;
}

.passwd-input{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.input-pill{
    margin: auto;
    width: auto;
    padding: 0.4rem;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background-color: #efefef;

    span{        
        font-size: 22px;
    }
}

.input-btn-off{    
    background-color: var(--celesteC);
    span{
        color: var(--azul);
    }
}

.input-btn-on{    
    background-color: var(--celeste);
    
    span{
        color:#fff;
    }
}

.return{
    margin: 2rem 2rem 0;
    font-size: 16px;
}

.subtext{
    width: 100%;
    text-align: center;
}

.form{
    width: 90%;
    padding: 2rem;
}

.flex-column{
    gap: 1rem;
}

.forgot-pass-btn{
    margin: 0 0 2rem;
}

@media (min-width:1024px){
    .form{
        width: 60%  ;
    }
}

@media (min-width: 1280px){
    h1{
        font-size: 64px;
    }
    
    input{
        outline:none;
        padding: 15px;
    }

    input,label{
        font-size: 20px;
    }

    button{
        width: 300px;
    }

    .input-pill{
        padding: 0.76rem;
    }

    .form{
        width: 50%;
        padding: 3rem;
    }

    .login-page{
        margin: 20px 0;
    }

    .return{
        font-size: 20px;
    }
}

@media (min-width: 1600px){
    .form{
        width: 35%;
    }
}