<button class="option-pill-access red-button-access return" routerLink="">< Volver al inicio</button>

<div class="login-page">
    <h1>Iniciar Sesión</h1>
    <form action="#" class="form">
        <label for="user-dni">DNI</label>
        <input type="number" name="user-dni" id="user-dni" required>
        <label for="user-pass">Contraseña</label>
        <input type="password" name="user-pass" id="user-pass" required>
        <div class="flex-row">
            <button class="option-pill-access green-button-access">Ingresar</button>
        </div>
    </form>
    
    <div class="flex-column">
        <button class="option-pill-access-sm yellow-button-access forgot-pass-btn" routerLink="/recover-password">¿Olvidó su contraseña?</button>
    </div>    
</div>