<button class="option-pill-access red-button-access return" routerLink="">< Volver al inicio</button>

<div class="login-page">
    <div class="flex-column">
        <h1>Iniciar Sesión</h1>
        <span class="subtext">Si usted no tiene una cuenta, <a href="/registro">puede crear una aquí.</a></span>
    </div>
    <form action="#" class="form" [formGroup]="pacienteForm" (ngSubmit)="login()">
        <label for="user-dni">DNI</label>
        <input type="number" name="user-dni" id="user-dni" formControlName="dni" required>
       <div>
        <label for="user-pass">Contraseña</label>
        <input [type]="passwd ? 'text' : 'password'" name="user-pass" id="user-pass" formControlName="passw" required>        
    </div>
        <div class="flex-row">
            <button type="button" class="option-pill-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: passwd}">Mostrar Contraseña</button>
            <button type="button" class="option-pill-access gray-button-access" style="margin-bottom: 2rem" (click)="showHidePwd()" [ngClass]="{hidden: !passwd}">Ocultar Contraseña</button>
        </div>
        <div class="flex-row">
            <button class="option-pill-access blue-button-access">Ingresar</button>
        </div>
    </form>
    
    <div class="flex-column">
        <button class="option-pill-access-sm yellow-button-access forgot-pass-btn" routerLink="/recover-password">¿Olvidó su contraseña?</button>
    </div>    
</div>