<button class="option-pill-access red-button-access return" routerLink="/login">< Volver a Iniciar Sesión</button>

<div class="login-page">
    <h1>Recuperar Contraseña</h1>
    <form action="#" class="form">
        <label for="user-dni">DNI</label>
        <input type="number" name="user-dni" id="user-dni" required>
        <label for="user-pass">Número de Teléfono</label>
        <input type="number" name="user-pass" id="user-pass" required>
        <div class="flex-row">
            <button class="option-pill-access blue-button-access">Recuperar</button>
        </div>
    </form>
</div>