/* You can add global styles to this file, and also import other style files */

@import "../node_modules/ngx-toastr/toastr.css";

:root {
    --negro: #343434;
    --gris: #d2d2de;
    --azul: #252C61;
    --celeste: #7ca5dc;
    --cian: #99E1DE;
    --verde: #11b67c;
    --amarillo: #eec937;
    --naranja: #e89b0b;
    --rojo: #ff4470;
    
    --cianC: #a3ffe3;
    --celesteC: #c1ebff;
    --verdeC: #dfffdd;
    --amarilloC: #fffccd;
    --rojoC: #ffd8df;
        
    --azulO: #1b214b;
    --grisO: #a0a1a7;
    --celesteO: #4c63a9;
    --cianO: #046068;
    --verdeO: #109f51;
    --amarilloO: #fffccd;
    --rojoO: #411d1d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "League Spartan", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--negro);
    width: 100%;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a{
    color: var(--celeste);
    font-weight: 600;
}

ul li{
    list-style: none;
}

button {
    background-color: #fff;
    border-style: none;
    border-radius: .5rem;
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    margin: auto;
    padding: 1rem;
    width: 50%;
    gap: 10px;
}

/* Estilo personalizado de los toast */
.ngx-toastr{
    box-shadow: none !important;
}

.toast-message{
    font-size: 18px;
    font-weight: 600;
}

/* Colores personalizados para los toast */
.toast-success {
  background-color: var(--verde);
}
.toast-error {
  background-color: var(--rojo);
}
.toast-info {
  background-color: var(--celesteO);
}
.toast-warning {
  background-color: var(--amarillo);
}

.toast-success, .toast-error, .toast-info{
    *{
        color:#fff;
    }
}

input, select{
    margin: .5rem 0 2rem;
}

input[type=text], input[type=number], input[type=password], select{
    padding: .5rem .8rem;

    border: solid 1px var(--gris);
    border-radius: 10px;

    font-size: 18px;
}

input[type=text]:hover, input[type=number]:hover, input[type=password]:hover{
    outline: solid 3px #eaeaef;
    outline-offset: -3px;
}

input[type=text]:focus, input[type=number]:focus, input[type=password]:focus{
    outline: solid 3px var(--celeste);
}

select:focus{
    outline: solid 3px var(--gris);
}

input[type="date"]{
    padding: 10px;
}

.form{
    margin: 2rem auto;
    padding: 3rem 4rem;
    width: 70%;

    border: solid 1px var(--gris);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #fafafa;
}

.search-bar button{
    width: 60px;
    padding: 0;
    height: 40px;
    margin-top: 5px;
}

.admin-page{    
    margin: auto;
    width: 60%;
}

/* Clases para listas de elementos de usuarios no pacientes */

.scroll-table{
    height: 400px;
    overflow-y: scroll;
}

.element-list{
    padding: 10px;
    margin-bottom: 1rem;
    border: solid 1px var(--gris);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #fafafa;
}

/* Clases para botones genéricos */

.option-pill{
    padding: 1.3rem;
    margin-bottom: 1.3rem;

    background-color: #eaeaef;
    border-radius: 10px;
    outline-color: #eaeaef;

    font-weight: 600;
    font-size: 1rem;
}

.option-pill:hover{
    background-color: var(--gris);
}

.green-button{
    background-color:var(--verdeC);
    color: var(--verde);
    * {         
        color: var(--verde);
    }
}

.green-button:hover{
    background-color: var(--verde);
    color: #fff;
    * {         
        color: #fff;
    }
}

.red-button{
    background-color:var(--rojoC);
    color: var(--rojo);
    * {         
        color: var(--rojo);
    }
}

.red-button:hover{
    background-color: var(--rojo);
    color: #fff;
    * {         
        color: #fff;
    }
}

.blue-button{
    background-color:var(--celesteC);
    color: var(--celesteO);
    * {         
        color: var(--celesteO);
    }
}

.blue-button:hover{
    background-color: var(--celeste);
    color: #fff;
    * {         
        color: #fff;
    }
}

.yellow-button{
    background-color:var(--amarilloC);
    color: var(--naranja);
    * {         
        color: var(--naranja);
    }
}

.yellow-button:hover{
    background-color: var(--amarillo);
    color: var(--negro);
    * {         
        color: var(--negro);
    }
}

/* Clases para botones con ayuda visual */

.option-pill-access{
    padding: 1rem;
    margin-bottom: 1.3rem;

    font-weight: 600;
    font-size: 20px;

    background-color: var(--gris);
    color: var(--negro);
    border-radius: 10px;

}

.option-pill-access:hover{
    outline: solid 6px var(--gris);
    outline-offset: 6px;
}


.option-pill-access-sm{
    padding: .8rem;
    margin-bottom: 1rem;
    border-radius: 10px;

    background-color: var(--gris);
    color: var(--negro);
    
    font-weight: 800;
    font-size: 16px;
}

.option-pill-access-sm:hover{
    outline: solid 4px var(--gris);
    outline-offset: 4px;
}

.option-pill-access:active, .option-pill-access-sm:active{
    outline-offset: -4px;
    box-shadow: inset 0 0 20px 20px #24247a45;
}

.green-button-access{
    background-color:var(--verde);
    color: #fff;
}

.green-button-access:hover{
    outline-color: var(--verde);
}

.red-button-access{
    background-color:var(--rojo);
    color: #fff;
}

.red-button-access:hover{
    outline-color: var(--rojo);
}

.blue-button-access{
    background-color:var(--azul);
    color: #fff;
}

.blue-button-access:hover{
    outline-color: var(--azul);
}

.lblue-button-access{
    background-color:var(--celesteO);
    color: #fff;
}

.lblue-button-access:hover{
    outline-color: var(--celesteO);
}

.yellow-button-access{
    background-color:var(--amarillo);
    color: var(--negro);
}

.yellow-button-access:hover{
    outline-color: var(--amarillo);
}

.gray-button-access{
    background-color:var(--grisO);
    color: #fff;
}

.gray-button-access:hover{
    outline-color: var(--grisO);
}

.hidden{
    display: none;
}

/* Configuración de Material Design */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 200,
  'opsz' 20
}

/* Oculta los botones de scroll  lateral para inputs de tipo numérico */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Animación de carga (fundido) */
body * {
    animation: fadeInAnimation cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Media queries */
@media (max-width: 1024px){
    .admin-page{
        width: 90%;
    }
}