/* You can add global styles to this file, and also import other style files */

:root {
    --negro: #343434;
    --gris: #dadae3;
    --azul: #2f1d89;
    --celeste: #669fed;
    --verde: #16bf57;
    --amarillo: #ffcd35;
    --naranja: #e89b0b;
    --rojo: #ff4470;
    
    --celesteC: #c1ebff;
    --verdeC: #dfffdd;
    --amarilloC: #fffccd;
    --rojoC: #ffd8df;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, Tahoma, Geneva, Verdana, sans-serif;
    color: var(--negro);
    width: 100%;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul li{
    list-style: none;
}

button {
    background-color: #fff;
    border-style: none;
    border-radius: .5rem;
    cursor: pointer;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar{
    margin: auto;
    padding: 1rem;
    width: 50%;
    gap: 10px;
}

input[type=text], input[type=number]{
    padding: .5rem .8rem;

    border: solid 1px var(--gris);
    border-radius: 10px;

    font-size: 18px;
}

input[type=text]:hover, input[type=number]:hover{
    outline: solid 3px #eaeaef;
    outline-offset: -3px;
}

input[type=text]:focus, input[type=number]:focus{
    outline: solid 3px var(--celeste);
}

input[type="date"]{
    padding: 10px;
}

.search-bar button{
    width: 10%;
    background-color: var(--celeste);
}

.admin-page{    
    margin: auto;
    width: 60%;
}

/* Clases para listas de elementos de usuarios no pacientes */

.scroll-table{
    height: 600px;
    overflow-y: scroll;
}

.element-list{
    margin: 2rem 0;
    padding: 1rem;
    border: solid 1px var(--gris);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #fafafa;
}

/* Clases para botones genéricos */

.option-pill{
    padding: 1.3rem;
    margin-bottom: 1.3rem;

    background-color: #eaeaef;
    border-radius: 10px;
    outline-color: #eaeaef;

    font-weight: 600;
    font-size: 1rem;
}

.option-pill:hover{
    background-color: var(--gris);
}


.green-button{
    background-color:var(--verdeC);
    color: var(--verde);
}

.green-button:hover{
    background-color: var(--verde);
    color: #fff;
}

.red-button{
    background-color:var(--rojoC);
    color: var(--rojo);
}

.red-button:hover{
    background-color: var(--rojo);
    color: #fff;
}

.blue-button{
    background-color:var(--celesteC);
    color: var(--celeste);
}

.blue-button:hover{
    background-color: var(--celeste);
    color: #fff;
}

.yellow-button{
    background-color:var(--amarilloC);
    color: var(--naranja);
}

.yellow-button:hover{
    background-color: var(--amarillo);
    color: var(--negro);
}

/* Oculta los botones de scroll  lateral para inputs de tipo numérico */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Animación de carga (fundido) */
body * {
    animation: fadeInAnimation cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Media queries */
@media (max-width: 1024px){
    .admin-page{
        width: 90%;
    }
}