h1{
    margin-top: 2rem;

    font-size: 36px;
    text-align: center;
}

span{
    font-size: 20px;
    text-align: center;
}

.subtitle-desktop{
    display: none;
}

.title{
    width: 100%;
    padding: 0 2rem 2rem;
    gap: 1rem;
}

.return-button{
    padding: 1rem;
    width: 200px;
}

.especialidades-page{
    padding: 2.5rem 0;
    
    /*background-image: url("/26807.jpg");*/
    background-position: center;
    background-size: cover;
}

.especialidades-container{
    margin: auto;
    padding: 2rem;    
    max-width: 1200px;

    background-color: #fff;
    box-shadow: 0 0 20px 5px #0462;
}

.especialidades{
    padding: 1.5rem;

    overflow-y: scroll;
    max-height: 500px;

    border: solid 1px var(--gris);
    border-radius: 15px;

}

.especialidad-title{
    color: #fff;

    font-size: 32px;
    font-weight: 600;
}

@media (min-width: 768px){
    .especialidades{
        margin: auto;
        max-width: 600px;
    }
}

@media (min-width: 1280px){
    .subtitle-desktop{
        display: block;
    }

    .subtitle-mobile{
        display: none;
    }

    .especialidades-container{
        border-radius: 20px;
    }

    .especialidades{
        max-width: 700px;
        padding: 2rem 4rem;
    }
}